@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto&family=Single+Day&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  box-sizing: border-box;
  min-height: 100vh;
}

.body {
  display: flex;
  overflow: hidden;
}

.body-bg {
  box-sizing: border-box;
  min-height: 100vh;
  background: rgba(47, 47, 47, 0.75);
}

.user {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 90vh;
  padding: 2rem 0;
}

.user-div {
  padding: 1rem 0;
  text-align: center;
}


.user-create-btn {
  background: #000;
  color: #fff;
  padding: 0.375rem 0;
  border-radius: 1.5rem;
  border: none;
  width: 90%;
  font-size: 1.75rem;
  cursor: pointer;
  margin-top: 1rem;
}

.user-notes-div {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.user-notes-div::-webkit-scrollbar {
  width: 12px;
}

.user-notes-div::-webkit-scrollbar-thumb {
  /* background-color: #b48bfaa9; */
  border-radius: 20px;
  border: 2px solid rgba(53, 51, 51, 0.551);
}

.user-bg {
  background-image: url(./images/Rectangle\ 33.svg);
}

.user-info {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2rem;
  border: none;
  text-align: center;
  margin-right: 1rem;
  flex-shrink: 0;
}

.pop-up {
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 0.5rem;
}

.create-group-div {
  height: 200px;
  background-color: #fff;
  border-radius: 0.375rem;
}

.create-group-input {
  border: 1px solid gray;
  border-radius: 1rem;
  margin-top: 0.25rem;
  padding: 0 0.5rem;
  width: 15rem;
}

.create-btn-div {
  position: absolute;
  right: 0.6rem;
  bottom: 1rem;
}

.create-btn {
  background-color: black;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0 1.75rem;
  margin-right: 0.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.color-select-btn {
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}


.notes-section {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 97Vh;
}

.notes-user-info {
  display: flex;
  align-items: center;
  height: 10vh;
  background-image: url(../src/images/Rectangle\ 23.svg);
}

.notes-container {
  height: 70vh;
  background-image: url(../src/images/Rectangle\ 22.svg);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.notes-container::-webkit-scrollbar {
  width: 12px;
}

.notes-container::-webkit-scrollbar-thumb {
  background-color: #F7ECDC;
  border-radius: 20px;
  border: 2px solid rgba(15, 14, 14, 0.764);
}

.notes-div {
  display: flex;
  padding: 1rem 1rem 0;
}

.textarea-div {
  border-bottom-left-radius: 0.75rem;
  background-image: url(../src/images/Rectangle\ 23.svg);
}

.notes-text-area {
  position: relative;
  width: 70vw;
  margin: 0.8rem 1.2rem;
  height: 20vh;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 0.5rem;
  text-align: start;
  padding: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
}

.notes-btn {
  position: absolute;
  right: 3%;
  bottom: 7%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.notes-time {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
  font-size: 1.15rem;
}

.notes-content {
  width: 80%;
  padding: 1rem;
  font-size: 1.15rem;
}



/* Mobile  */

@media only screen and (max-width: 600px) {
  .App {
    width: 100vw;
    height: 100vh;
  }

  .body {
    display: unset;
  }

  .user {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;
    padding: 2rem 0;
  }

  .pop-up {
    position: absolute;
    bottom: 50%;
    left: 17%;
  }

  .create-group-div {
    width: 284px;
    height: 200px;
    background-color: #fff;
    border-radius: 0.375rem;
  }

  .create-group-input {
    border: 1px solid gray;
    border-radius: 1rem;
    width: 50%;
    height: 1.5rem;
    font-size: 0.7rem;
  }

  .create-btn-div {
    position: absolute;
    left: 35%;
    bottom: -1.7rem;
  }

  .create-btn {
    background-color: black;
    color: white;
    font-size: 0.5rem;
    line-height: 1.25rem;
    padding: 0 1.75rem;
    margin: 0.5rem 0;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
  }

  .color-select-btn {
    width: 1rem;
    height: 1rem;
    margin: 0 0.1rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
  }

  .user-notes-div {
    width: 100%;
  }

  .notes-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .notes-container {
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
  }

  .notes-text-area {
    width: 90%;
    height: 10vh;
  }

  .textarea-div {
    width: 100%;
  }

}